In [26]:
weekdays = ['星期一','星期二','星期三','星期四','星期五','星期六','星期日']
weekdays

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [27]:
weekdays[0],weekdays[1],weekdays[-1]

('星期一', '星期二', '星期日')

In [28]:
weekdays[:3]

['星期一', '星期二', '星期三']

In [29]:
weekdays[-3:]

['星期五', '星期六', '星期日']

In [1]:
list('cat')
list(range(0,100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [2]:
empty_list = []
empty_list

[]

In [3]:
another_empty_list = list()
another_empty_list

[]

In [4]:
birthday = "1/3/2001"
type(birthday)

str

In [10]:
blist = birthday.split(sep="/")
bblist = []
for item in blist:
    if int(item) // 10 == 0:
        item = "0"+item
    bblist.append(item)
print(bblist)
new_birthday = '/'.join(bblist)
new_birthday

['01', '03', '2001']

'01/03/2001'

In [81]:
cities = ['台北','台中','高雄']
type(cities)

list

In [73]:
cities.append('屏東')
cities

['台北', '台中', '高雄', '屏東']

In [74]:
cities.insert(0,'基隆')
cities

['基隆', '台北', '台中', '高雄', '屏東']

In [82]:
try:
    cities.remove('台中')
except:
    print("沒有這個元素")

In [80]:
cities.clear()
cities

[]

In [87]:
cities_tuple = ('台北','台中','高雄')
for item in cities_tuple:
    print(item)

tuple

In [88]:

cities_tuple[0]

'台北'

In [89]:
cities_tuple[0] = '台北市'

TypeError: 'tuple' object does not support item assignment